/* General styles */
body, div, p {
	color: #2d2d2d;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
body, form, div, ul, h1, h2, h3, h4, h5, h6{
	margin:	0;
	padding: 0;
}
body {
	min-width: 990px;
}
h4, h2.poll-header {
	font: bold 13px Tahoma;
}
input,textarea,select {
	color: #2d2d2d;
	font: 12px tahoma, verdana, arial, sans-serif;
	margin: 0 3px 0 0;
}
input, textarea {
	padding: 1px;
}
textarea {
	margin: 0px;
}
.input-text, .input-text-auto, .input-text-large, .input-text-medium, .input-text-short, .input-text-100, .input-textarea, .input-textarea-long, .go-button {
	vertical-align: middle;
}
.input-text {
	width: 200px;
}
.input-text-medium {
	width: 80px;
}
.input-text-large {
	width: 300px;
}
.input-text-short {
	width: 40px;
}
.input-textarea {
	width: 370px;
}
.input-textarea-long {
	width: 90%;
}
.input-text-100 {
	width: 100%;
}
p {
	padding: 6px 0px;
	margin: 0px;
	color: #2c2b2b;
	font-weight: normal;
}
ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
ol {
	padding: 0px 0px 0px 15px;
	margin: 0px;
}
ul li, ol li {
	padding: 2px 0px;
}
a, a:visited, a:active, a:hover {
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
.underlined, .underlined:visited, .underlined:active {
	/*inherits*/
}
.underlined:hover {
	/*inherits*/
}
.underlined-bold, .underlined-bold:visited, .underlined-bold:active {
	font-weight: bold;
}
.underlined-bold:hover {
	font-weight: bold;
}
.hand {
	cursor: pointer;
}
.nowrap {
	white-space: nowrap;
}
.radio, .checkbox {
	padding: 0px;
	margin: 0px 6px 0px 0px;
	vertical-align: middle;
}
hr {
	height: 0px;
}
.dark-hr {
	margin: 11px 0px 9px 0px;
	clear: both;
}
.error-text {
	font-weight: bold;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clear-both {
	clear: both;
}
.float-none {
	float: none !important;
}
/* /General styles */

/* Side boxes styles */
.sidebox-link, .sidebox-link:visited, .sidebox-link:hover, .sidebox-link:active {
	color: #2d2d2d;
	font: 11px tahoma, arial, verdana, sans-serif;
}
.left-column .input-text, .right-column .input-text, .updates-wrapper .input-text {
	height: 17px;
	width: 115px;
	margin: 0px;
	vertical-align: middle;
}
/* /Side boxes styles */

/* Categories side box */
.sidebox-rootcategory, .sidebox-rootcategory:visited, .sidebox-rootcategory:hover, .sidebox-rootcategory:active {
	color: #2d2d2d;
	font: bold 12px tahoma, verdana, arial, sans-serif;
}
/* /Categories side box */

/* Ajax */
.ajax-loading-box {
	padding: 6px 6px 6px 26px;
	position: fixed;
	right: 50%;
	top: 0px;
	z-index: 18;
	display: none;
}

.ajax-message {
	padding: 10px;
	z-index: 17;
	display: none;
	position: absolute;
	width: 339px;
}
/* /Ajax*/

/* Notification box */
.cm-notification-container {
	position: fixed;
	right: 8px;
	top: 0px;
	z-index: 16;
}
.notification-content {
	position: relative;
	margin-bottom: 1px;
}
.notification-w, .notification-n, .notification-e {
	width: 250px;
	opacity: 0.96;
	-moz-opacity: 0.96;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=96)";
	padding: 3px 11px 11px 13px;
}
.notification-header-w, .notification-header-n, .notification-header-e {
	padding: 0px 10px 1px 26px;
	font: bold 15px Arial, Helvetica, sans-serif;
	position: absolute;
	left: 8px;
	top: 0px;
	z-index: 15;
}
.notification-body {
	font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 16px;
	text-align: justify;
	clear: both;
}
img.cm-notification-close {
	padding: 0px 4px 4px 4px;
	margin-right: -7px;
	float: right;
}
.notification-body p {
	margin: 3px -1px 0px 0px;
	text-align: right;
}
.notification-body b {
	font-weight: normal;
}
.notification-body a, .notification-body a:visited, .notification-body a:hover, .notification-body a:active {
	font: normal 11px Arial, Helvetica, sans-serif;
}
/* /Notification box */

/* Section in main box */
.section-border {
	margin-top: 6px;
	margin-bottom: 15px;
}
.section-title {
	padding: 6px 0px 5px 9px;
}
.section-title a {
	font: bold 14px Arial, Helvetica, sans-serif;
}
.section-title a.cm-combo-on {
	background: url('images/icons/section_icon_collapsed.gif') no-repeat 0px 7px;
}
.section-title a.cm-combo-off {
	background: url('images/icons/section_icon_expanded.gif') no-repeat 0px 7px;
}
.search-form .input-text {
	width: 170px;
}
.search-form .input-text-large {
	width: 207px;
}
/* Section in main box */

/* Buttons */
.button a, .button-action a, .button-submit-action input, .button-submit input, .button-submit-big input {
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;
	display: -moz-inline-box;
	display: inline-block;
}
/* input buttons */
.button-submit-action, .button-submit, .button-submit-big, .button, .button-action {
	display: -moz-inline-box;
	display: inline-block;
	margin-bottom: 4px;
}
/* /input buttons */
.button {
	padding: 0px;
	border: 0px none;
}
.button-submit-big {
	padding-left: 3px;
	height: 29px;
}
.button-submit-big input {
	font-size: 12px;
	padding: 7px 19px 8px 7px;
	height: 29px;
	line-height: 16px;
}
.buttons-container {
	padding: 10px 0px;
}
/* /Buttons */

/* Category page */
tr.category-names td {
	padding: 5px 0 22px 0;
}
.category-description {
	font: 11px tahoma, arial, verdana, sans-serif;
	padding-bottom: 13px;
}
.categories-columns {
	float: left;
	padding-right: 40px;
}
.categories-columns ul {
	line-height: 18px;
}
.categories-image {
	float: left;
	margin: 0px 15px 15px 0px;
	display: inline;
}
.subcategories {
	font-size: 11px;
	font-weight: bold;
	line-height: 17px;
	float: left;
}
.subcategories p {
	padding: 0px;
	margin: 0px 0px 1px 0px;
}
.product-title, .product-title:visited, .product-title:hover, .product-title:active {
	font: bold 14px Tahoma;
}
.product-details-title {
	font-weight: bold;
	padding: 1px;
}
div.product-details-title {
	margin-top: 15px;
}
td div.product-details-title {
	margin-top: 0px;
}
.sku {
	font-size: 10px;
	margin: 0px;
	padding: 0px 0px 6px 0px;
}
.more-info {
	font-size: 10px;
	text-align: center;
}
.list-price {
	font-size: 11px;
	white-space: nowrap;
	padding: 0px;
	margin: 0px;
}
.price, .sub-price {
	font: bold 14px Tahoma;
	padding: 0px;
	margin: 0px;
}
p.price {
	margin: 6px 0px;
}
.cart-price {
	font-size: 12px;
	font-weight: bold;
}
.discount {
	font-size: 10px;
	margin: 0px;
	padding: 0px;
}
/* Category page */

/* Product picker box */
.cm-dashed-box {
	background: transparent;
}
#fullbody {
	padding: 13px 12px 0px 12px;
	background-color: #ffffff;
}
/* /Product picker box */

/* Checkout pages */
table.product-list td {
	padding: 7px 5px;
}
table.product-list p, table.product-list .product-list-field {
	margin: 3px 0px;
}
table.product-list .product-list-field {
	padding-left: 0px;
}
table.product-list .product-list-field label {
	width: auto;
	margin-left: 0px;
	margin-right: 10px;
}
.tabs {
	margin-top: 13px;
	padding: 0px 0px 0px 12px;
	vertical-align: bottom;
}
.tabs ul {
	vertical-align: bottom;
	max-width: 550px;
}
.tabs ul li, .tabs ul li.cm-active {
	float: left;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: bottom;
	background-image: none;
}
.tabs ul li a, .tabs ul li a:hover, .tabs ul li.cm-active a, .tabs ul li.cm-active a:hover {
	font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.tabs ul li.cm-active a, .tabs ul li.cm-active a:visited, .tabs ul li.cm-active a:hover, .tabs ul li.cm-active a:active {
	color: #000000;
	font: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.tabs ul li a:hover {
	text-decoration: none;
}
.cm-tabs-content {
	padding: 11px 0px;
	clear: both;
}
.affiliate-code {
	padding: 3px;
	margin: 3px;
	margin-right: 10px;
}
.field-name {
	font: bold 11px tahoma, arial, verdana, helvetica,	sans-serif;
	white-space: nowrap;
}
.valign {
	vertical-align: middle;
}
.valign-top {
	vertical-align: top;
}
.compare-table td {
	padding: 3px 8px;
}
.compare-table .first-cell {
	white-space: nowrap;
}
table label {
	width: auto;
	font-weight: normal;
}

/* jCarusel */
.jcarousel-container {
	position: relative;
}
.jcarousel-clip {
	z-index: 4;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}
.jcarousel-list {
	z-index: 3;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.jcarousel-list li,
.jcarousel-item {
	float: left;
	list-style: none;
}
/* /jCarusel */

/* Listmania */
.lm-columns {
	float: left;
	width: 48%;
	min-width: 100px;
}
.lm-links {
	padding-bottom: 1px;
}
.lm-description {
	padding: 4px 0px 15px 0px;
	text-align: justify;
}
.lm-top {
	font-size: 1px;
}
.lm-center {
	padding: 5px 5px 0px 5px;
}
.products-rounded .product-properties .buttons-container, .products-rounded .product-properties .form-field, .products-rounded .product-properties .product-list-field {
	margin: 0;
	padding: 0;
}
.left-column .form-field, .right-column .form-field {
	padding: 6px 0px;
}
.left-column .form-field label, .right-column .form-field label {
	margin-left: 0px;
	width: auto;
}
.products-rounded .product-properties {
	margin: 0;
}
.lm-bottom {
	font-size: 1px;
}
.lm-buttons-wrapper {
	padding: 0px 3px 0px 0px;
}
.lm-buttons {
	float: right;
	margin-left: 6px;
	margin-bottom: 1px;
}
.item-wrap {
	background: url('images/sidebox_delim.gif') repeat-x bottom center;
	margin-bottom: 4px;
	padding-bottom: 10px;
}
.last-item-wrap {
	background-image: none;
	margin-bottom: 0px;
}
.item-image {
	float: left;
	margin-right: 10px;
}
.item-description {
	display: table;
}
.lm-manufacturer {
	font-weight: bold;
	margin: 0px 0px 4px 0px;
	padding: 0px;
}
.lm-cell-content {
	padding: 5px 9px 9px 9px;
}
.lm-link, .lm-link:visited, .lm-link:active {
	font-weight: bold;
	text-decoration: underline;
}
.lm-link:hover {
	font-weight: bold;
	text-decoration: none;
}
.lm-bc-icon {
	padding: 0px 7px;
}
/* /Listmania */

/* Ads */
.ad-container {	/* to crop a large image */
	overflow: hidden;
	width: 100%;
	margin: 1px auto 11px auto;
}
/* /Ads */

/* common styles */
.product-container {
	padding: 10px 0px;
}
.float-wrapper {
	position: relative;
	overflow: hidden;
}
.border {
	margin-bottom: 12px;
}
.no-items {
	padding: 15px 0px;
	text-align: center;
	font-weight: bold;
	margin: 6px 3px;
}
.hidden {
	display: none;
}
.strong {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.lowercase {
	text-transform: lowercase;
}
.uppercase {
	text-transform: uppercase;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.justify {
	text-align: justify;
}
.scroll-x {
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 3px;
}
.no-margin {
	margin: 0px !important;
}
.table-fixed {
	table-layout: fixed;
	width: 100%;
}
.inline {
	display: inline;
}
.dashed, a.dashed {
	border-bottom: 1px dashed #000000;
	text-decoration: none;
}
a.dashed {
	border-bottom-color: #0042b2;
}
a.dashed:hover {
	border-bottom: 1px dashed transparent;
}
.no-padding {
	padding: 0px !important;
}
.no-margin {
	margin: 0px !important;
}
.margin-top {
	margin-top: 10px;
}
.fixed-layout {
	table-layout: fixed;
}
/* /common styles */

/* main styles */
#header {}
#footer {
	clear: both;
}
/* Styles for the fixed width layout */ 

#container {
	padding: 0px 11px;
	width: 968px;
	margin: 0px auto;
}
#content {}
.central-column, .container-right .central-column, .container-left .central-column {
	float: left;
	display: inline;
	margin: 0 172px 15px 172px;
	padding: 0 21px 15px 21px;
	overflow-x: auto;
	overflow-y: hidden;
	width: 582px;
}
.central-content {}
.container-long .central-column {
	margin: 0; 
	padding: 0 0 30px 0;
	width: 100%;
}
.container-right .central-column, .container-left .central-column {
	margin: 0 0 15px 172px;
	padding: 0 0 15px 21px;
	width: 773px;
}
.container-left .central-column {
	margin: 0 172px 15px 0;
	padding: 0 21px 15px 0;
}

.left-column {
	float: left;
	width: 171px;
	margin-left: -966px;
}
.right-column {
	float: left;
	width: 171px;
	margin-left: -171px;
}

/* /Styles for the fixed width layout */

/* Styles for the 100% width layout */ 
/* Uncomment this set of styles for the 100% width layout.
body {}
#container {
	padding: 0px 11px;
}
.central-column {
	float: left;
	display: inline;
	padding-bottom: 30px;
	width: 100%;
}
.central-content {
	margin: 0 172px 15px 172px;
	padding: 0 21px 15px 21px;
}
.container-long .central-column {
	margin: 0; 
	padding-bottom: 30px;
}
.container-long .central-content {
	margin: 0; 
	padding: 0 0 15px 0;
}
.container-right .central-column, .container-left .central-column {
	width: 100%;
	float: left;
	display: inline;
}
.container-right .central-content {
	margin: 0 0 0 172px;
	padding: 0 0 15px 21px;
}
.container-left .central-content {
	margin: 0 172px 0 0;
	padding: 0 21px 15px 0;
}
.left-column {
	float: left;
	width: 171px;
	margin-left: -100%;
}
.right-column {
	float: left;
	width: 171px;
	margin-left: -171px;
}
.container-long .mainbox-cart-body, .container-left .mainbox-cart-body, .container-right .mainbox-cart-body {
	max-width: none;
}
*/

/* /Styles for the 100% width layout */

/* /main styles */

/* top styles */
.logo-image {
	float: left;
	margin-top: 10px;
	position: relative;
	z-index: 8;
}
#top_menu {
	vertical-align: bottom;
	clear: both;
	position: relative;
	z-index: 7;
}
.top-menu {
	vertical-align: bottom;
}
.top_menu li.first-level, .top_menu li.first-level a {
	padding: 0;
	margin: 0;
}
#top_menu ul li.first-level, #top_menu ul li.first-level.cm-active {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: bottom;
}
#top_menu ul li.first-level span {
	display: -moz-inline-box;
	display: inline-block;
}
#top_menu li.first-level a, #top_menu li.first-level a:hover, #top_menu li.first-level.cm-active a, #top_menu  li.first-level.cm-active a:hover {
	color: #535353;
	font: bold 14px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
#top_menu li.first-level li a, #top_menu li.first-level li a:hover, #top_menu li.first-level.cm-active li a, #top_menu li.first-level.cm-active li a:hover {
	font: bold 13px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	display: block;
	padding: 5px 20px 4px 2px;
}
#top_menu ul li.first-level.cm-active a, #top_menu ul li.first-level.cm-active a:hover {
	color: #202020;
}
#top_menu ul li.first-level a:hover, #top_menu ul li.first-level.cm-active a:hover {
	text-decoration: underline;
}
.helper-block {
	display: none;
}
/* /top styles */

/* top tools styles */
.top-tools-container {
	clear: both;
	padding: 2px 5px 8px 5px;
	height: 31px; /* for Safari */
}
.top-tools-container span.float-left, .top-tools-container span.float-right {
	width: 5px;
	height: 41px;
	margin: -2px 0px 0px -5px;
}
.top-tools-container span.float-right {
	margin: -2px -5px 0px 0px;
}
.top-search {
	padding: 8px 0px 0px 8px;
}
.search-products-text {
	font: bold 12px tahoma, verdana, arial, sans-serif;
	padding-right: 2px;
}
.top-search .search-products-text {
	vertical-align: -1px;
}
.search-selectbox {
	width: 150px;
	padding: 1px 1px 1px 2px;
	height: 21px;
	vertical-align: middle;
}
.search-input {
	width: 203px;
	padding: 2px 1px 0px 1px;
	margin: 0 0 0 -4px;
	height: 17px;
	vertical-align: middle;
}
.search-advanced, .search-advanced:visited, .search-advanced:hover, .search-advanced:active {
	font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.search-label {
	font: bold 11px verdana, geneva, arial, helvetica, sans-serif;
}
/* /top tools */

/* content-tools */
.content-tools {
	padding: 5px 5px 0px 7px;
	margin-bottom: 13px;
}
/* /content-tools */

/* cart box styles */
#sw_cart_box, .cart-list-icon {
	width: 44px;
	height: 26px;
	border: 0px none;
}
.cart-list-icon {
	height: 24px;
}
#cart_status .float-left {
	position: relative;
	z-index: 6;
}
#cart_status a {
	padding-left: 3px;
}
#cart_status span {
	vertical-align: middle;
}
.checkout-link {
	float: left;
	padding-top: 5px;
}
#cart_status .checkout-link a, #cart_status .checkout-link a:visited, #cart_status .checkout-link a:hover, #cart_status .checkout-link a:active {
	padding: 0px 15px 2px 6px;
}
.cart-list {
	position: absolute;
	width: 234px;
	z-index: 5;
	top: 0;
	left: 0;
}
.list-container {
	margin-top: 6px;
	padding: 0px 4px;
	background-color: #ffffff;
}
.cart-list .list {
	height: 185px;
	overflow-x: hidden;
	overflow-y: auto;
	padding-left: 5px;
}
.cart-list ul li.delim {
	padding: 0px;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}
.cart-list ul li img {
	max-width: 45px;
	height: auto;
	margin-right: 4px;
}
.list p.center {
	margin-top: 75px;
}
.cart-list .buttons-container {
	text-align: center;
	margin: 8px 0px 11px 0px;
}
#cart_status .buttons-container a, #cart_status .buttons-container a:visited, #cart_status .buttons-container a:hover, #cart_status .buttons-container a:active {
	padding: 0px 15px 2px 6px;
	margin: 0px 1px;
}
/* /cart box styles */

/* common sidebox style */
.sidebox-wrapper {
	margin-bottom: 19px;
}
.sidebox-title {
	padding-left: 10px;
}
.sidebox-title span {
	display: block;
	font: bold 14px Tahoma, Verdana, Geneva, Arial, Helvetica;
}
.sidebox-body {
	padding: 13px 13px 10px 13px;
}
.sidebox-bottom {
	height: 1px;
}
.sidebox-bottom span {
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}
/* /common sidebox style */

/* categories sidebox style */
.sidebox-categories-wrapper {
	margin: 0px 1px 22px 0px;
}
.sidebox-categories-wrapper .sidebox-title {
	padding-left: 11px;
}
.sidebox-categories-wrapper .sidebox-title span {
	padding: 8px 11px 7px 0px;
	overflow: hidden;
}
.sidebox-categories-wrapper .sidebox-body {
	border: 0px none;
	padding: 3px 0px 0px 5px;
}
.sidebox-categories-wrapper .sidebox-bottom, .sidebox-categories-wrapper .sidebox-bottom span{
	display: none;
}
/* /categories sidebox styles */

/***** Tables *****/
/* Common table */
.table th {
	font-weight: bold;
	padding: 3px 5px 2px 5px;
	white-space: nowrap;
}
.table th.right {
	text-align: right;
}
.table th.left {
	text-align: left;
}
.table tr, .table .table tr {
	background-color: #ffffff;
}
.table table tr {
	background-color: transparent;
}
.table td {
	padding: 2px 5px;
}
.tree-limb table td {
	padding: 0px;
}
.table table td {
	border: 0px none;
}
.table .table-footer td {
	padding: 0px;
	margin: 0px;
	font-size: 5px;
	height: 5px;
}
.padding-td {
	padding: 3px 0px;;
}
#category_rows .table {
	margin-top: -1px;
}
table.qty-discounts {
	padding: 0px;
}
table.qty-discounts th, table.qty-discounts td {
	border: 0px none;
}
/* /Common table */

/* Utility styles */
.noborder td {
	border: 0px solid #ffffff;
}
/* /Utility styles */

/***** /Tables *****/

/* mainbox */
.mainbox-container {
	margin-bottom: 10px;
}
.mainbox-title {
	padding: 2px 0px 12px 0px;
	margin: 0px;
}
.mainbox-title span {
	color: #2d2e2e;
	font: bold 26px Arial, Helvetica, sans-serif;
}
.mainbox-body {
	margin-bottom: 20px;
}
/* /mainbox */

/* mainbox2 */
.mainbox2-title {
	padding: 0px 0px 8px 7px;
}
.mainbox2-title span {
	color: #2d2e2e;
	font: bold 22px Arial, Helvetica, sans-serif;
}
.mainbox2-body {
	padding: 10px 20px 20px 20px;
}
.mainbox2-bottom, .mainbox2-bottom span {
	display: none;
}
/* /mainbox2 */

.subheaders-group {
	margin: 0px 15px 21px 15px; /* T R B L*/
}

/* color mainbox */
.mainbox-cart-title {
	padding: 8px 8px 7px 13px;
}
.mainbox-cart-body, .mainbox-cart-body-flex {
	padding: 11px 5px 0px 5px;
}
.mainbox-cart-body {
	max-height: 230px;
	max-width: 358px;
	min-width: 250px;
	overflow: auto;
}
.mainbox-cart-body .product-description {
	padding: 0px 7px;
}
.mainbox-cart-body-flex {
	padding-bottom: 17px;
	overflow-y: hidden;
	overflow-x: auto;
}
.cart-buttons {
	padding: 4px 4px 4px 8px;
	margin-bottom: 5px;
}
/* /color mainbox */

.updates-wrapper {
	padding: 9px 5px 9px 9px;
	margin-bottom: 10px;
}
.sidebox-body .updates-wrapper {
	margin: 8px -10px -7px -10px;
}
.updates-wrapper p {
	margin: 0;
	padding-top: 0px;
	padding-bottom: 3px;
	font: normal 11px tahoma, verdana, arial, sans-serif;
}

.updates-wrapper .form-field, .promotion-coupon .form-field {
	padding: 0px;
	margin: 0px;
}

/* Bottom styles */
.bottom-copyright {
	text-align: center;
	padding-top: 8px;
}
.bottom-search {
	padding: 8px 0px 15px 0px;
}
p.bottom-copyright.mini, p.bottom-copyright.mini a {
	font-size: 9px;
}
/* /Bottom styles */

/* recently viewed */
.recent-prod-link-bg {
	padding: 5px 10px;
	margin: 0px -12px -11px -12px;
}
/* /recently viewed */

/* product LIST view styles */
.product-spacer {
	width: 9px;
}
.product-image, .feature-image {
	float: left;
	margin: 0px 25px 10px 0px;
	text-align: center;
}
td.product-image {
	margin: 0px;
	float: none;
}
td.product-image img {
	margin: 0 10px;
}
.product-description, .feature-description {
	display: table;
}
td.product-description {
	padding-right: 10px;
	display: table-cell;
}
.product-bulk-add-wrapper {
	padding-right: 3px;
	margin: 3px 0px;
}
.prices-container {
	padding: 5px 0px;
	float: left;
}
.discount-label {
	float: left;
	margin: 14px 0 0 20px;
}
.discount-label em {
	display: block;
	font-size: 11px;
	font-weight: bold;
	white-space: nowrap;
}
.product-variant-image {
	padding-top: 5px;
	margin-left: -120px;
}
/* /product LIST view styles */

/* pagination styles */
.pagination {
	padding: 4px 0px 5px 0px;
	margin: 14px 0px 8px 0px;
}
.pagination a, .pagination a:visited, .pagination a:hover, .pagination a:active, .pagination-selected-page {
	padding: 0px 4px 1px 4px;
}
/* /pagination styles */

.info-field-title {
	font-size: 11px;
	font-weight: bold;
	padding: 6px 4px 6px 8px;
}
.info-field-title a, .info-field-title span, .info-field-title em {
	font-weight: normal;
}
.info-field-body {
	padding: 10px;
	margin-bottom: 15px;
	overflow-y: hidden;
	overflow-x: auto;
}
.info-field {
	margin: 0;
	padding: 0;
	font-weight: bold;
	line-height: 18px;
}
.info-field label {
	padding: 0;
	margin: 0;
	font: normal 11px verdana, geneva, arial, helvetica, sans-serif;
	width: 100px;
	line-height: 18px;
	float: left;
}

/* product details styles */
.product-details-options {
	padding: 14px 12px 13px 15px;
}
.product-details-options p.price {
	margin: 2px 0px;
}
/* /product details styles */

.delim {
	padding: 0px;
	margin: 0px;
	height: 7px;
	line-height: 7px;
	font-size: 7px;
}
/* Arrow list */
.arrow-list {
	margin: 0px 0px 0px 6px;
}
/* /Arrow list*/

/* Site news */
.site-news li {
	padding: 2px 0px 3px 0px;
}
.site-news li strong {
	font: bold 11px Tahoma;
	display: block;
	padding-bottom: 1px;
}
/* /Site news */

/* plain/dynamic menu */
ul.menu-root-categories {
	padding-right: 5px;
}
ul.menu-root-categories li {
	padding: 0;
}
ul.menu-root-categories li a {
	display: block;
	padding: 2px 5px 3px 3px;
	background: url(images/icons/category_collapsed.gif) no-repeat right 5px;
	height: 1%;
}
ul.menu-root-categories li a:hover {
	background-image: url(images/icons/category_expanded.gif);
}
ul.menu-subcategories {
	padding: 1px 0px 7px 6px;
}
ul.menu-subcategories li {
	padding:  1px 0px 4px 1px;
	line-height: 12px;
	height: 1%;
}
.subcategories-link, .subcategories-link:visited, .subcategories-link:hover, .subcategories-link:active {
	color: #2d2d2d;
}
.subcategories-link-active, .subcategories-link-active:visited, .subcategories-link-active:hover, .subcategories-link-active:active {
	color: #2d2d2d;
	font-weight: bold;
}
ul.sitemap-list li {
	padding-left: 10px;
	background: #ffffff url(images/icons/left_menu_arrow.gif) no-repeat 0px 5px;
}
/* /plain/dynamic menu */

/* form styles */
/** for checkboxes in FF **/
.error-message {
	width: 70%;
	clear: both;
}
.error-message .message {
	padding: 0px 8px;
	margin-bottom: 8px;
}
.error-message .arrow {
	width: 0px;
	margin-left: 10px;
	font-size: 1px;
	line-height: 1px;
}
.form-field, .select-field {
	margin: 6px 0px;
	vertical-align: middle;
}
.form-field {
	padding: 0px 0px 0px 170px;
}
.form-field.revert {
	padding-left: 20px;
}
.form-field.revert label {
	float: none;
	margin: 0px;
	width: auto;
}
.form-field.revert .checkbox, .form-field.revert .radio {
	margin-left: -20px;
	float: left;
	clear: left;
	margin-top: 3px;
}
.form-field label {
	float: left;
	clear: left;
	text-align: left;
	width: 160px;
	padding-top: 1px;
	margin-left: -170px;
}
.form-field div label {
	width: auto;
	float: none;
}
.form-field label.cm-required {
	margin-right: 5px;
	width: 165px;
}
.form-field .select-field {
	margin: 0px;
}
.select-field label, .form-field .select-field label {
	float: left;
	clear: none;
	width: auto;
	margin: 0px 10px 0px 0px;
	padding: 3px 0px 3px 12px;
	vertical-align: middle;
	white-space: nowrap;
}
.select-field label {
	float: none;
	clear: left;
	padding: 0px;
}
.select-field label .checkbox {
	vertical-align: -2px;
	margin-left: -12px;
}
.select-field .checkbox {
	vertical-align: middle;
}
.search-field {
	margin-bottom: 7px;
}
.choose-icon {
	float: left;
	padding-top: 1px;
}
.subcategories {
	padding: 1px 0px 0px 5px;
}
/* Form field hack to avoid float div float outside the container */
.form-field:after, .search-field:after, .info-field-title:after, .info-field:after, .item-wrap:after, .buttons-container:after, .clear:after, .break:before {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.break:before {
	height: 3px;
}
.search-field label, .search-field label.long{
	float: left;
	clear: left;
	text-align: left;
	width: 95px;
	font: bold 11px verdana, geneva, arial, helvetica, sans-serif;
	padding-top: 1px;
}
.search-field input, .search-field select {
	font-weight: normal;
}
.search-field textarea {
	font-weight: normal;
}
.search-field span {
	font-weight: normal;
	font-size: 11px;
}
.product-list-field {
	margin-top: 6px;
	padding-left: 120px;
}
.product-list-field label {
	width: 110px !important;
	font-weight: bold;
	margin-left: -120px;
	font-size: 10px;
	float: left;
	padding-top: 1px;
}
.product-features {
	padding: 5px;
	margin-left: 10px;
}
/* form styles */

/* One page checkout styles */
.step-container, .step-container-active {
	margin: 2px 0px 3px 0px;
}
.checkout-steps {
	margin-left: 28px;
	padding: 2px 4px 1px 4px;
}
.step-title, .step-title-active {
	padding: 8px 9px 6px 7px;
}
.step-title-active {
	padding: 9px 8px 7px 7px;
}
.step-title span.float-left, .step-title-active span.float-left {
	margin: -5px 0px 0px -40px;
	font: bold 21px Tahoma;
}
.step-title img.float-right {
	padding-top: 2px;
	padding-left: 10px;
}
.step-title-active img.float-right {
	padding-top: 1px;
}
.step-body, .step-body-active {
	padding: 3px 28px 10px 21px;
}
.step-body .shipping-rates, .step-body-active .shipping-rates {
	padding-top: 14px;
}
.step-body .shipping-rates label {
	width: auto;
	padding: 4px 5px 0px 0px;
}
.step-body .step-complete-wrapper label {
	padding-top: 0px;
}
.step-body-active {
	padding: 16px 20px 20px 20px;
}
.step-title a.title, .step-title a.title:hover, .step-title-active a.title, .step-title-active a.title:hover {
	text-decoration: none;
	padding-left: 14px;
}
.checkout-textarea {
	width: 374px;
}
#summary {
	padding-top: 10px;
}
.step-complete-wrapper .form-field label {
	margin: 0 5px 0 0;
	width: auto;
}
.step-complete-wrapper .form-field {
	padding-left: 0px;
	margin: 0 0 6px 0;
}

.checkout-left-col{
	width: 65%;
}

.checkout-right-col{
	width: 35%;
}

.checkout-right-col	.right-column{
	width: 100%;
	float: right;
	margin-top: 50px;
	margin-left : 0px;
}

/*

/* One page checkout styles */

/* Estimation form */
.estimation-popup-box {
	width: 380px;
	padding: 11px;
	margin: 10px 0px 0px 0px;
}
.estimation-popup-box .search-field label {
	width: 105px;
}
.box {
	padding: 11px;
}
/* /Estimation form */

/* polls */
.poll {
	padding: 7px 0px;
}
.poll li {
	padding: 2px 3px 2px 6px;
}
.poll .radio {
	vertical-align: -1px;
}
.polls-buttons {
	padding: 5px 0px 3px 0px;
}
.image-verification .polls-buttons {
	padding: 5px 0px 3px 0px;
}
.image-verification p {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.sidebox-body .poll-other-answer {
	margin: 5px 0px 0px 5px;
	width: 120px;
	height: 42px;
}
.sidebox-body .poll-text-answer {
	margin: 7px 0px 7px 5px;
	width: 130px;
	height: 70px;
}
.poll-other-answer {
	margin-left: 6px;
	margin-top: 5px;
	width: 220px;
	height: 42px;
}
.poll-text-answer {
	margin-top: 10px;
	width: 440px;
	height: 70px;
}

.polls-list ul {
	margin: 5px;
	margin-left: 20px;
}

.polls-list ul li {
	padding: 5px;
}

div.polls-no-data {
	padding-left: 20px;
}

.polls-list a {
	font: normal 12px tahoma, verdana, arial, sans-serif;
	font-weight: bold;
}
.graph-bar-1, .graph-bar-2 {
	border: 1px solid #ababab;
	height: 15px;
	position: relative;
	text-align: center;
	font: bold 11px Tahoma;
	margin-bottom: 4px;
}
.graph-bar-2 {
	font-weight: normal;
}
.graph-bar-1 em, .graph-bar-2 em {
	font: normal 11px Tahoma;
	color: #959595;
}
.graph-bar-1 div, .graph-bar-2 div {
	height: 15px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.graph-bar-1 .graph-bar, .graph-bar-2 .graph-bar {
	background-color: #ccf2ff;
}
.graph-bar-1 span, .graph-bar-2 span {
	position: relative;
	z-index: 2;
}
/* /polls */

/* Rating styles */
#content_discussion p.stars {
	margin: 2px 0px 10px 0px;
	padding: 0px;
}
.html-checkboxes {
	vertical-align: -2px;
}
label.label-html-checkboxes {
	width: auto;
	font: normal 11px tahoma, verdana, arial, sans-serif;
	padding: 1px 8px 3px 0px;
}
.order-search-label {
	display: table;
}
.order-search-label label {
	width: 80px;
	float: none;
	font-weight: normal;
}
#id_sbox_currency {
	padding: 1px;
}
#id_sl {
	padding: 1px;
}
/* /Rating styles */


/* Previewer styles */
#previewer_overlay {
	position: fixed;
	z-index: 34;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}
#previewer_window {
	position: fixed;
	z-index: 35;
	display: none;
	top: 50%;
	left: 50%;
	background-color: #ffffff;
}
.previewer-container {
	padding: 10px;
	border: 1px solid #909090;
}
.scroller-container {
	margin-bottom: 5px;
	padding: 10px;
}
#scroller_holder, #previewer_scroller {
	margin: 0px auto;
	text-align: center;
}
#previewer_close {
	padding: 7px 4px 0px 2px;
	font-size: 11px;
}
#previewer_close a.tool-link, #previewer_close a.tool-link:hover {
	font-size: 11px;
}
#previewer_load {
	position: fixed;
	display: none;
	height: 16px;
	width: 16px;
	z-index: 11;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}
#previewer_hide_select {
	z-index: 8;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#prev_btn, #next_btn {
	vertical-align: 38px;
}
#viewer {
	height: 91px;
	overflow: hidden;
	margin: 0px 7px;
	display: inline-block;
}
#thumbs_frame {
	display: block;
}
#thumbs_frame img {
	margin: 22px 3px;
	width: 45px;
}
#preview_holder {
	width: 180px;
	height: 180px;
	text-align: center;
	vertical-align: middle;
}
#preview_window {
	position: absolute;
	z-index: 7;
}
a.cm-thumbnails-mini {
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px 0px;
}
/* /Previewer styles */

/* Calendar box */
.calendar-but {
	vertical-align: -8px;
	width: 20px;
	height: 22px;
}
.calendar-box {
	background-color: #d5e7f6;
	position: absolute;
	z-index: 13;
	padding: 5px 6px;
}
.calendar-navig {
	text-align: center;
	white-space: nowrap;
	font: bold 14px arial;
	margin: 4px 0px 8px 0px;
}
.calendar-navig a, .calendar-navig a:hover {
	text-decoration: none;
}
.calendar-navig a.cm-previous-month {
	margin-right: 30px;
	padding: 0px 2px;
}
.calendar-navig a.cm-next-month {
	padding: 0px 2px;
	margin-left: 30px;
}
.calendar-box div.float-left {
	margin-right: 5px;
	padding: 3px 8px 7px 8px;
	height: 171px;
}
.calendar-box ul.float-left {
	width: 30px;
}
.calendar-box ul {
	margin: 0px 0px 10px 0px;
}
.calendar-box ul li {
	padding-bottom: 1px;
}
.calendar-box ul li a {
	font-size: 11px;
	display: block;
	padding: 4px 0px;
}
.calendar-box ul li a.selected, .calendar-box ul li a.selected:hover {
	color: #000000;
	font: bold 11px arial;
	text-decoration: none;
	background-color: transparent;
}
.calendar {
	height: 181px;
	display: inline;
}
.section-border table.calendar {
	margin: 0px;
}
.section-border table.calendar td {
	padding: 0px;
}
.calendar th {
	padding: 6px 4px 3px 4px;
}
.search-advanced .calendar td, .calendar td {
	text-align: center;
	padding: 0px;
}
.calendar td a {
	padding: 4px;
	display: block;
}
.calendar td a.strong {
	color: inherit;
}
/* /Calendar box */

/* tag addon */
.tag-level-0 {
	font-size: 10px;
}

.tag-level-1 {
	font-size: 12px;
}

.tag-level-2 {
	font-size: 14px;
}

.tag-level-3 {
	font-size: 16px;
}

.tag-level-4 {
	font-size: 18px;
}

.tag-level-5 {
	font-size: 22px;
}

.tag-level-6 {
	font-size: 25px;
}
/* /tag addon */

/* block "Product filters" */
.product-filters ul {
	margin: 0px;
}
.product-filters li {
	margin: 4px;
	font-weight: bold;
	font-family: Tahoma;
}
.product-filters li ul li {
	margin: 4px 0px 4px 0px;
}
.product-filters a.filter-delete {
	margin-left: -14px; 
	padding-right: 2px;
}
.product-filters li p {
	margin: 3px 0px 0px 0px;
	text-align: right;
}
.product-filters .details, .product-filters a {
	font-weight: normal;
}
.filters-tools {
	padding: 3px 3px 8px 0px;
}
.reset-filters, .reset-filters:visited, .reset-filters:hover, .reset-filters:active {
	padding-left: 12px;
}
/* /block "Product filters" */

/* captcha */
.image-captcha {
	margin-top: 4px;
}
.captcha-input-text {
	width: 133px;
	margin: 4px 0px 0px 0px;
}
.login-popup .captcha-input-text {
	width: 144px;
}
.step-body-active .captcha-input-text {
	width: 139px;
}
/* /captcha */

/* Quick links */
/** top **/
.quick-links {
	float: right;
	padding-top: 6px;
}
.quick-links p {
	padding: 0px;
}
.quick-links a, .quick-links a:visited, .quick-links a:active, .quick-links a:hover {
	padding: 0px 1px 0px 11px;
}
/** /top **/
/** bottom **/
#footer .quick-links {
	float: none;
	padding-right: 0px;
	text-align: center;
	margin-bottom: 1px;
}
/** /bottom **/
/* /Quick links */

/* Select languages */
.select-link, .select-link:hover {
	padding-right: 16px;
	margin-right: 12px;
}
.icons {
	display: inline-block;
	margin: 0px 6px;
	padding: 0px;
	cursor: pointer;
	vertical-align: -4px;
}
.select-lang {
	float: left;
	padding-bottom: 10px;
}
.cm-select-list a.item-link, .cm-select-list a.item-link:visited, .cm-select-list a.item-link:hover, .cm-select-list a.item-link:active {
	padding: 0px 0px 0px 22px;
	background-repeat: no-repeat;
	background-position: left 0px;
}
.select-wrap {
	float: right;
	font-size: 12px;
	margin-top: 6px;
	padding-left: 3px;
	white-space: nowrap;
}
.select-popup {
	background-color: #ffffff;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 3px 3px 0px 4px;
	margin: 0px !important;
	z-index: 12;
}
.close-icon {
	position: absolute;
	right: 3px;
	cursor: pointer;
}
ul.cm-select-list {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: block;
}
ul.cm-select-list li {
	padding: 1px 39px 7px 0px;
	cursor: pointer;
	white-space: nowrap;
}
ul.cm-select-list li a {
	white-space: nowrap;
}
.cm-select-list a, .cm-select-list a:visited, .cm-select-list a:hover, .cm-select-list a:active {
	font: normal 12px Arial;
	background-repeat: no-repeat;
	background-position: left 0px;
	text-decoration: none;
	padding: 0px 2px;
}
.select-languages {
	text-align: right;
	margin-bottom: 10px;
}
.localization {
	padding: 6px 9px 7px 12px;
	margin-top: 0px;
}
/* /Select languages */

/* checkout totals */
.promotion-coupon {
	padding: 5px 7px 5px 8px;
	margin-bottom: 8px;
}
.promotion-coupon strong {
	font-size: 11px;
	display: -moz-inline-box;
	display: inline-block;
	padding-bottom: 3px;
}
.promotion-coupon .input-text, #point_payment .input-text {
	width: 129px;
	padding: 1px;
	vertical-align: middle;
	height: 15px;
	margin-left: 3px;
}
.promotion-coupon a {
	vertical-align: 1px;
}
/** Statistic list **/
ul.statistic-list {
	margin-top: 10px;
	padding-top: 9px;
	float: right;
	clear: both;
}
ul.statistic-list li {
	clear: both;
	padding: 0px 11px 4px 11px;
	font: normal 13px Tahoma;
	white-space: nowrap;
	overflow: hidden;
}
ul.statistic-list li span {
	float: left;
	text-align: right;
	margin-right: 30px;
	width: 150px;
}
ul.statistic-list li span strong {
	float: none;
}
ul.statistic-list li strong {
	text-align: left;
}
ul.statistic-list li strong span {
	float: none;
	width: auto;
	text-align: left;
	margin: 0px;
}
ul.statistic-list li.subtotal span, ul.statistic-list li.subtotal strong {
	font: bold 14px Tahoma;
}
ul.statistic-list li.total {
	background-color: #ffffff;
	font: bold 18px Arial;
	margin-top: 7px;
	padding: 9px 0px 0px 0px;
}
ul.statistic-list li.total strong {
	width: 163px;
	float: left;
	text-align: right;
	margin-right: 30px;
}
ul.statistic-list li.total span {
	float: none;
	width: auto;
	margin-right: 0px;
	font: bold 18px Arial;
}
/** /Statistic list **/
/* /checkout totals */

/* File uploader */
.upload-file-section {
	overflow: hidden;
}
.fileuploader .select-field label {
	margin-right: 28px;
}
.fileuploader {
	margin: 5px 10px 15px 0px;
	padding: 10px;
	float: left;
}
.upload-file-local {
	position: relative; 
	float: left; 
	overflow: hidden;
}
.upload-file-local input {
	right: 0px;
	position: absolute; 
	opacity: 0;
	-moz-opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
	cursor: pointer;
}
.upload-file-links a.active {
	font-weight: bold;
}
.attach-images-alt label {
	display: block;
	float: none;
	width: auto;
	margin: 0;
	padding: 0px 0px 3px 0px;
}
/* /File uploader */

/* Cart items */
#cart_items .product-title, #cart_items .product-title:visited, #cart_items .product-title:hover, #cart_items .product-title:active, .product-list .product-title, .product-list .product-title:visited, .product-list .product-title:hover, .product-list .product-title:active {
	font-size: 13px;
}
#cart_items .sku {
	padding: 4px 0px 3px;
}
#cart_items .product-image {
	padding-left: 3px;
}
.quantity {
	padding: 5px 0px 10px 0px;
}
.quantity .input-text {
	padding: 1px;
	height: 13px;
	width: 31px;
	margin: 0px 4px 0px 1px;
}
.product-description a.cm-combo-on, .product-description a.cm-combo-off {
	padding-left: 17px;
	font-size: 11px;
}
.product-description .product-options {
	padding: 2px 0px 6px 0px;
	font-size: 11px;
}
.product-options .table-fixed {
	width: 450px;
	max-width: 450px;
}
.product-options .table-fixed .product {
	width: 70px;
}
.product-options .table-fixed .product-list-field {
	padding-left: 0px;
}
.product-options .table-fixed .product-list-field label {
	margin-left: 0px;
}
/* /Cart items */

/* classic checkout */
.container-long .classic-checkout {
	padding: 0px 78px;
}
/** progress bar styles **/
.pb-container {
	padding: 8px 0px 25px 0px;
	text-align: center;
}
.pb-container a {
	display: inline-block;
}
.pb-container em {
	font: bold 18px Arial, Helvetica, sans-serif;
	padding: 2px 8px 3px 8px;
	text-decoration: none;
}
.pb-container a, .pb-container span {
	font: 16px Arial, Helvetica, sans-serif;
}
.pb-container span.active {
	font: bold 18px Arial, Helvetica, sans-serif;
}
.pb-container img {
	margin: 0px 5px;
	vertical-align: 2px;
}
/** /progress bar styles **/
/* /classic checkout */

/* Log in/out styles */
#sign_io {
	padding: 11px 3px 0px 0px;
	position: relative;
}
#sign_io a, #sign_io a:visited, #sign_io a:hover, #sign_io a:active {
	padding: 0px 4px;
}
#sign_io a.text-button, #sign_io a.text-button:visited, #sign_io a.text-button:hover, #sign_io a.text-button:active {
	padding: 0px 8px 0px 2px;
	margin: 0px;
}
#login {
	position: absolute;
	border: 1px solid #ffffff;
	z-index: 14;
	width: 292px;
	top: 24px !important;
	right: 4px;
	left: auto !important;
}
.login-popup {
	background-color: #f9ffd2;
	border: 1px solid #b1b1b1;
	padding: 9px 16px;
}
.login-popup p {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 14px;
}
.login-popup h1 {
	font: bold 22px Arial, Helvetica, sans-serif;
	margin: 0px 0px 8px -4px;
}
.login-popup .error-text {
	margin-bottom: 11px;
}
.login-popup .form-field, .login .form-field {
	padding-left: 0px;
}
.login-popup .form-field label, .login .form-field label {
	font: 13px Arial, Helvetica, sans-serif;
	margin-left: 0px;
}
.login-popup .form-field .input-text {
	clear: both;
	font: bold 22px Arial, Helvetica, sans-serif;
	padding: 0px 3px 0px 27px;
	margin-top: 3px;
	width: 226px;
}
.login-popup .form-field .password {
	margin-bottom: 6px;
}
.login-popup .clear, .login .clear {
	padding: 10px 0px 6px 0px;
}
.login-popup .clear .float-left {
	padding-top: 1px;
}
.login-popup .clear .checkbox {
	margin: 2px 0px 0px 1px;
}
.login-popup .clear label {
	font: 13px Arial, Helvetica, sans-serif;
}
.login-popup a {
	font-size: 13px;
}
.login {
	width: 247px;
	margin: 0 auto;
}
.login .clear {
	padding: 10px 0px 6px 0px;
}
/* /Log in/out styles */

/* breadcrumbs */
.breadcrumbs {
	padding-bottom: 12px;
}
.bc-arrow {
	margin: 0px 6px;
	width: 3px;
	height: 5px;
}
/* /breadcrumbs */

.posts {
	padding: 7px 6px 10px 10px;
}
.posts h2 {
	font: bold 13px Tahoma;
	float: left;
	padding: 2px 0px 0px 0px;
}
.posts .float-right {
	padding-top: 5px;
}

/* Advanced filter  */
.table-filters th {
	text-align: left;
	font-size: 13px;
	padding: 10px 0px 6px 0px;
}
.table-filters td {
	padding: 0px 12px 8px 0px;
}
.table-filters .scroll-y {
	background-color: #ffffff;
	overflow-y: auto;
	height: 127px;
	border: 1px solid #cfdce0;
	padding: 0 0 0 4px;
	margin-bottom: 8px;
}
.table-filters td .select-field {
	margin-top: 0;
	padding: 0 0 6px 0;
}
.table-filters .scroll-y .select-field {
	margin: 4px 0 0 0;
}
table.table-filters label {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.table-filters .delim {
	background-image: none;
}
.table-filters .delim td {
	border-bottom: 1px solid #e7e5d5;
}
/* /Advanced filter  */

/* checkout login */
.login-table td {
	padding-left: 15px;
}
.login-table td.login {
	padding: 0px 15px 0px 0px;
	width: auto;
}
.login-table .delim {
	margin: 15px 0px;
}
.login .clear {
	padding-right: 1px;
}
.login .input-text {
	width: 240px;
	margin: 0px;
}
.order-status {
	padding: 10px 10px 10px 30px;
	margin: 5% auto;
	width: 920px;
}
body.clear-body {
	min-width: 100%;
}
/* /checkout login */

/* bug report panel */
.bug-report {
	position: fixed;
	right: 0px;
	bottom: 0px;
	height: 26px;
	background-color: #ff9600;
	border: 1px solid #acacac;
	border-width: 1px 1px 0px 0px;
	opacity: 0.85;
	-moz-opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=85)";
	padding: 5px 0px 0px 5px;
}
/* bug report panel */

/* Page 404 */
.exception-body {
	padding: 0px 0px 0px 35px;
}
.exception-body h1 {
	float: left;
}
.exception-body h2 {
	clear: both;
}
.exception-content {
	padding-left: 2px;
}
.exception-body .float-right {
	padding: 2px 10% 0 10%;
}
.exception-content p {
	margin: 0px 0px 16px 0px;
}
.exception-content .exception-menu {
	margin: 7px 0px 24px 0px;
}
.exception-body hr {
	margin-bottom: 10px;
}
/* /Page 404 */

/* Tags */
.tags-buttons {
	margin: -26px 0px 0px 230px;
}
.tags-buttons .button-submit {
	vertical-align: middle;
	margin-left: 10px;
	margin-bottom: 0px;
}
/* /Tags */

/* Picker */
.cm-picker {
	position: absolute;
	z-index: 27;
}
.cm-popup-bg {
	position: absolute;
	z-index: 26;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: #000000;
}
.popup-notes-content .cm-popup-content-header {
	margin-bottom: 8px;
}
.popup-notes-content {
	background-color: #ffffff;
	border: 1px solid #909090;
}
.popup-content {
	background-color: #ffffff;
}
.cm-dashed-box {
	border: 1px dashed #909090;
	background-color: transparent;
}
.cm-popup-corner-resizer, .cm-popup-hor-resizer, .cm-popup-vert-resizer {
	margin: 0 !important;
}
.cm-popup-hor-resizer, .w-shadow, .e-shadow {
	position: absolute;
	width: 13px;
	height: 100%;
}
.cm-popup-hor-resizer {
	cursor: w-resize;
}
.cm-popup-hor-resizer {
	cursor: w-resize;
}
.cm-left-resizer, .w-shadow {
	background: url(images/shadow_w.png) repeat-y left top;
	left: -13px;
}
.cm-right-resizer, .e-shadow {
	background: url(images/shadow_e.png) repeat-y left top;
	right: -13px;
}
.cm-popup-vert-resizer, .n-shadow, .s-shadow {
	position: absolute;
	width: 100%;
	height: 18px;
}
.cm-popup-vert-resizer {
	cursor: s-resize;
}
.cm-top-resizer, .n-shadow {
	top: -18px;
	background: url(images/shadow_n.png) repeat-x left top;
}
.cm-bottom-resizer, .s-shadow {
	bottom: -18px;
	background: url(images/shadow_s.png) repeat-x left top;
}
.cm-popup-corner-resizer, .ne-shadow, .se-shadow, .sw-shadow, .nw-shadow {
	position: absolute;
	width: 13px;
	height: 18px;
}
.cm-nw-resizer, .nw-shadow {
	background: url(images/shadow_nw.png) no-repeat left top;
	top: -18px;
	left: -13px;
}
.cm-nw-resizer {
	cursor: nw-resize;
}
.cm-ne-resizer, .ne-shadow {
	top: -18px;
	right: -13px;
	background: url(images/shadow_ne.png) no-repeat left top;
}
.cm-ne-resizer {
	cursor: ne-resize;
}
.cm-sw-resizer, .sw-shadow {
	background: url(images/shadow_sw.png) no-repeat left top;
	bottom: -18px;
	left: -13px;
}
.cm-sw-resizer {
	cursor: sw-resize;
}
.cm-se-resizer, .se-shadow {
	background: url(images/shadow_se.png) no-repeat left top;
	bottom: -18px;
	right: -13px;
}
.cm-se-resizer {
	cursor: se-resize;
}
.cm-popup-content-header {
	padding: 15px 15px 5px 15px;
	cursor: move;
}
.cm-popup-content-header h3 {
	font: bold 18px Arial;
	margin: 0px;
	background-color: transparent;
	padding: 0px;
}
.cm-popup-content-header .float-right {
	padding: 2px 4px;
}
.cm-popup-content-footer {
	padding: 0px 15px 15px 15px;
}
.object-container {
	padding: 12px;
	overflow-x: auto;
	overflow-y: scroll;
	font-weight: normal;
}
.popupbox-closer {
	position: absolute;
	right: -15px;
	top: -12px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
/* /Picker */

/* Graph bar */
.graph-border {
	height: 8px;
}
.graph-bg {
	font-size: 8px;
}
/* /Graph bar */

.table-filters .input-text {
	width: 100%;
	max-width: 200px;
}
.cm-template-box {
	display: inline;
	margin: 0;
	padding: 0;
}
.subpages-list {
	margin-top: 10px;
}
.subpages-list li {
	padding: 8px 0;
	font-style: italic;
}
.subpages-list li .main-info {
	font-style: normal;
	padding-right: 6px;
}
.view-all div {
	max-width: 100px;
	text-align: left;
}

/* product configurator */
.product-configuration td {
	padding: 4px 0px;
}
.product-configuration .field-title .info-field-title {
	margin-top: 21px;
}
.product-configuration span.price {
	font: normal 13px Arial, Helvetica, sans-serif;
}
.product-configuration .object-container span.price {
	font: bold 14px Tahoma;
}
/* product configurator */

.multicolumns-list td {
	padding: 15px 0 17px 0;
}
.multicolumns-list table td {
	padding: 0;
}
.recover-password {
	width: 205px;
	text-align: left;
}
#template_text {
	height: 350px;
	width: 100%;
}
.order-info {
	padding-bottom: 10px;
}
/* Skin selector */
.demo-site-panel {
	border: 1px solid #000000;
	background-color: #dddddd;
}
.demo-site-panel strong {
	font-size: 15px;
}
.demo-site-panel td, .demo-site-panel select {
	white-space: nowrap;
	color: #2d2d2d;
	font: 13px Tahoma;
}
.demo-site-panel td {
	padding: 0px 5px;
}
.demo-site-panel td.strong {
	font-weight: bold;
}
.demo-site-panel select {
	background-color: #ffffff;
	border: 1px solid #cecece;
	padding: 1px;
}
/* /Skin selector */