/*
�  Design by: styleshout.
http://www.styleshout.com/free-templates.php
*/

@import url('styles.base.css');

body {
	background: #ffffff url('images/body_bg.gif') repeat-x left top;
}
body, div, p {
	font: 13px 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	color: #666666;	
}
.input-text, .input-text-auto, .input-text-large, .input-text-medium, .input-text-short, .input-text-100, .input-textarea, .input-textarea-long {
	color: #2d2d2d;
	border: 1px solid #d0d0d0;
	padding: 2px;
}
select {
	border: 1px solid #d0d0d0;
	padding: 1px;
}
a, a:visited, a:hover, a:active {
	color: #0788c3;
}
hr {
	border: 0px solid #eaf0f5;
	border-top-width: 1px;
}
.dark-hr {
	border-color: #e3e3e3;
}
.error-text {
	color: #f27a00;
}
.view-large-image-link, .view-large-image-link:visited, .view-large-image-link:hover, .view-large-image-link:active {
	background: url('images/icons/view_larger.gif') no-repeat left 2px;
	padding: 1px 0px 1px 15px;
}
.sidebox-body .input-text, .updates-wrapper .input-text {
	color: #2d2d2d;
	background-color: #ffffff;
	border: #c5d1d8 1px solid;
	padding: 2px 1px 0px 1px;
}

/* Ajax */
.ajax-loading-box {
	background: url('images/ajax_left.gif') no-repeat left bottom;
	padding: 0px 0px 0px 5px;
}

.right-inner-loading-box {
	background: url('images/ajax_right.gif') no-repeat right bottom;
	padding: 0px 5px 0px 0px;
}

.ajax-inner-loading-box {
	background: #fff1a8 url('images/icons/ajax.gif') no-repeat 5px center;
	padding: 6px 6px 6px 26px;
	font-size: 12px;
	font-weight: bold;
	color: #3f0000;
}

.ajax-message {
	border: 1px solid #000000;
	background-color: #f4fbff;
}
/* /Ajax*/

/* Notification box */
.notification-w, .notification-n, .notification-e {
	background-color: #d72323;
}
.notification-header-w, .notification-header-n, .notification-header-e {
	color: #ffffff;
	background: #b50000 url('images/icons/notification_icon_e.gif') no-repeat left center;
}
.notification-body {
	color: #ffffff;
}
.notification-body a, .notification-body a:visited, .notification-body a:hover, .notification-body a:active {
	color: #ffffff;
}
.notification-n {
	background-color: #88ba00;
}
.notification-header-n {
	background: #5ca400 url('images/icons/notification_icon_n.gif') no-repeat left center;
}
.notification-w {
	background-color: #ff9600;
}
.notification-header-w {
	background: #f66e00 url('images/icons/notification_icon_w.gif') no-repeat left center;
}
/* /Notification box */

/* Section in main box */
.section-border {
	border: 1px solid #e8e8eb;
}
.section-title {
	background: #f2f2f7 url('images/section_title_bg.gif') repeat-x bottom;
}
.section-title a {
	color: #5c5d3e;
	padding-left: 14px;
	text-decoration: none;
}
.section-title a:hover {
	text-decoration: underline;
}
.section-body, .section-body-details {
	border-top: 1px solid #e8e8eb;
	background-color: #f6f6f9;
	padding: 9px 16px;
}
.section-body-details {
	padding: 18px 16px;
}	
/* Section in main box */

/* Buttons */
.button a, .button-action a, .button-submit-action input, .button-submit input, .button-submit-big input {
	color: #545454;
	font: bold 13px Georgia;
	padding: 2px 8px 3px 8px;
}
/* input buttons */
.button-submit-action, .button-submit, .button-submit-big, .button, .button-action {
	background: #dceac3 url('images/but_right_action.gif') no-repeat right top;
	height: 22px;
}
.button-submit-action, .button-action {
	padding-right: 17px;
}
.button-submit-action, .button-action, x:-moz-any-link {
	padding-right: 15px;
}
.button-submit-action input, .button-submit input, .button-submit-big input, .button-action a {
	background: transparent url('images/but_left_action.gif') no-repeat left top;
	padding: 3px 0px 4px 9px;
	height: 22px;
	line-height: 14px;
}
.button-submit-action input, .button-submit input, .button-submit-big input, .button-action a {
	border: 0px none;
	margin: 0px;
}
.button-submit-action input, .button-submit input, .button-submit-big input, .button-action a, x:-moz-any-link {
	padding: 1px 0px 4px 6px;
}
.button-submit, .button {
	background: #e0edf4 url('images/but_right.gif') no-repeat right top;
	padding-right: 1px;
}
.button-submit input, .button a {
	background-image: url('images/but_left.gif');
	font: bold 13px Georgia;
	padding: 1px 6px 3px 8px;
}
.button-submit input {
	padding-bottom: 6px;
	line-height: 16px;
}
.button-submit-big {
	background: #ff4f01 url('images/big_but_left.png') no-repeat left top;
	padding-left: 3px;
	height: 29px;
}
.button-submit-big input {
	font: bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: url('images/big_but_right.png') no-repeat right top;
	padding: 7px 19px 8px 7px;
	height: 29px;
	line-height: 16px;
}
.button-submit-big input, x:-moz-any-link {
	padding: 5px 16px 8px 4px;
}
/* /input buttons */
.button a {
	padding: 2px 10px 0px 10px;
	height: 20px;
}
.button-action a {
	padding: 3px 0px 0px 10px;
}
.text-button, .text-button:visited, .text-button:hover, .text-button:active, .text-button-act, .text-button-act:visited, .text-button-act:hover, .text-button-act:active {
	margin-right: 1px;
	padding-right: 8px;
	background: url('images/icons/text_but_arrow.gif') no-repeat right 6px;
}

.text-button-act, .text-button-act:visited, .text-button-act:active, .text-button-act:hover {
	color: #ff5400;
	background-image: url('images/icons/action_text_but_arrow.gif');
}
.go-button {
	padding-left: 3px;
}
.top-tools-container .go-button {
	padding-left: 4px;
}
.button-tool a, .button-tool a:visited, .button-tool a:hover, .button-tool a:active, a.tool-link, a.tool-link:hover {
	font: normal 12px Arial;
	color: #b20101;
	text-transform: lowercase;
}
/* /Buttons */

/* Category page */
.product-title, .product-title:visited, .product-title:hover, .product-title:active {
	color: #0788c3;
}
.list-price {
	color: #757575;
}
.price, .sub-price {
	color: #990000;
}
.sub-price {
	color: #333333;
}
.discount {
	color: #666666;
}
.qty-in-stock {
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
/* Product picker box */
.cm-picker-data-container {
	border: 1px solid #d1d1d1;
}
/* /Product picker box */

/* Tabs */
.tabs {
	background: #eff6f9 url('images/tabs_bg.gif') 0px 0px;
}
.tabs ul li, .tabs ul li.cm-active {
	padding: 4px 11px 6px 11px;
	margin: 2px 0px 0px 0px;
	height: 16px;
}
.tabs ul li.cm-active {
	background-color: #ffffff;
	border: 1px solid #d1d3d6;
	border-bottom-width: 0px;
	padding: 2px 11px 4px 11px;
	margin: 3px 0px 2px 0px;
}
/* /Tabs */
.affiliate-code {
	background: #f0f0f0;
	border: 1px solid #e0e0e0;
	color: #999999;
	font-size: 9px;
	text-align: center;
}
.compare-table .left-border {
	border-left: solid #ced6da 1px;
}
.compare-table .bottom-border {
	border-bottom: solid #ced6da 1px;
}
.compare-table .first-cell {
	border-bottom: 1px solid #ced6da;
	background-color: #f1f4f6;
}
/* jCarusel */
.jcarousel-skin {
	border: 1px solid #dadada;
	background-color: #ffffff;
}
/* /jCarusel */

/* Listmania */
.lm-top {
	border-top: 1px solid #b7b7b7;
}
.lm-left {
	border-left: 1px solid #b7b7b7;
}
.lm-right {
	border-right: 1px solid #b7b7b7;
}
.lm-bottom {
	border-bottom: 1px solid #b7b7b7;
}
.lm-scroller {
	border: 1px solid #d6d6ff;
	background-color: #ffffff;
}
/* /Listmania */

/* common styles */
.border {
	border: 1px solid #e3e3e3;
}
.no-items {
	background-color: #f1f4f6;
}
/* /common styles */

/* main styles */
.helper-container {
	background: url(images/top_bg.gif) repeat-x left top;
}
.logo-image {
	margin: 36px 0 0 0;
}
#content {
	background: url(images/left_col_delim.gif) repeat-y 190px top;
}
.content-helper {
	background: url(images/right_col_delim.gif) repeat-y right top;
	padding-top: 16px;
}
.container-long #content, .container-long .content-helper, .container-left #content, .container-right .content-helper {
	background-image: none;
}
#footer {
	background: url(images/content_delim.gif) repeat-x left top;
	padding: 8px;
}
/* Styles for the fixed width layout */
#container {
	padding: 0px;
}
.container-right .central-column, .container-left .central-column {
	width: 775px;
}
.central-content {
	padding: 0 16px;
}
.container-right .central-content {
	padding-right: 0;
}
.container-left .central-content {
	padding-left: 0;
}
.container-long .central-content {
	padding: 0;
}
/* /Styles for the fixed width layout */ 

/* Styles for the 100% width layout */ 
/* Uncomment this set of styles for the 100% width layout.
.central-content {
	padding: 0 37px 15px 37px;
}
.container-left .central-content {
	padding: 0 37px 15px 0;
}
.container-right .central-content {
	padding: 0 0 15px 37px;
}
*/
/* Styles for the 100% width layout */ 
/* /main styles */

/* top styles */
.header-helper-container {
	background: url(images/header_bg.gif) no-repeat 100% 28px;
}
#top_menu {
	padding: 31px 8px 0 0;
	border-bottom: 1px solid #f2f2f2;
}
#top_menu ul {
	border-left: 1px solid #f2f2f2;
}
#top_menu ul li.first-level, #top_menu ul li.first-level.cm-active {
	padding: 0;
	text-align: left;
	border-right: 1px solid #f2f2f2;
}
#top_menu li.first-level a, #top_menu li.first-level a:hover, #top_menu li.first-level.cm-active a, #top_menu li.first-level.cm-active a:hover {
	font: bold 14px 'Trebuchet MS', Arial, Sans-Serif;
	text-transform: uppercase;
	color: #666666;
	padding: 6px 15px 10px 15px;
	display: -moz-inline-box;
	display: inline-block;
	text-decoration: none;
}
#top_menu ul li.first-level a:hover, #top_menu ul li.first-level.cm-active a, #top_menu ul li.first-level.cm-active a:hover {
	padding: 5px 15px 6px 15px;
	border-bottom: 4px solid #57b2e8;
	color: #222222;
	text-decoration: none;
}
#top_menu ul ul {
	padding: 3px 5px 4px 5px;
	border: 1px solid #c5c5c5;
	margin-top: 0px;
}
#top_menu li.first-level ul li a, #top_menu li.first-level ul li a:hover, #top_menu li.first-level.cm-active ul li a, #top_menu li.first-level.cm-active ul li a:hover {
	color: #5d95ca;
	text-decoration: none;
	font: bold 13px 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	text-transform: none;
	border-bottom: 0px none;
	padding: 5px 20px 4px 2px;
}
#top_menu li.first-level ul li a:hover, #top_menu li.first-level.cm-active ul li a:hover {
	color: #000000;
}
/* /top styles */

/* top tools styles */
.top-tools-container {
	border-bottom: 1px solid #f2f2f2;
	padding: 4px 0 10px 0;
}
.top-tools-container span.float-left, .top-tools-container span.float-right {
	display: none;
}
.search-selectbox, .search-input {
	border: 1px solid #d3dde4;
}
.search-advanced, .search-advanced:visited, .search-advanced:hover, .search-advanced:active {
	padding: 0px 8px 0px 4px;
	background: url('images/icons/search_advanced_arrow.gif') no-repeat right 5px;
}
.top-search {
	padding-left: 7;
}
/* /top tools styles */

.quick-links {
	text-align: right;
	float: none;
	padding-bottom: 0px;
	position: relative;
	z-index: 9;
	padding-top: 15px;
}

/* content-tools */
.content-tools {
	padding: 10px 0 15px 0;
	margin-bottom: 0px;
	background: url(images/content_delim.gif) repeat-x left bottom;
}
.content-tools span.float-left, .content-tools span.float-right {
	display: none;
}
/* /content-tools */

/* cart box styles */
#cart_status .float-left {
	background: url('images/top_tools_delim.gif') no-repeat 100% 2px;
	padding: 0px 14px 0px 0px;
	margin-right: 11px;
}
#cart_status .checkout-link a, #cart_status .checkout-link a:visited, #cart_status .checkout-link a:hover, #cart_status .checkout-link a:active {
	background: url('images/icons/cart_arrow.gif') no-repeat 95% 6px;
}
.full-cart a, .full-cart a:visited, .full-cart a:hover, .full-cart a:active {
	background-color: #e7ffc1 !important;
}
.full-cart a.view-cart, .full-cart a.view-cart:visited, .full-cart a.view-cart:hover, .full-cart a.view-cart:active {
	background-color: #f2f2f2 !important;
}
.cart-list {
	background: url('images/cart_list_bg.gif') no-repeat 0px 24px;
}
.list-container {
	border: 1px solid #bebebe;
	border-top-width: 0px;
}
.cart-list .list {
	border: 1px solid #bababa;
}
#cart_status .cart-list .float-left {
	background-image: none;
	padding: 0px;
	margin: 0px;
}
.cart-list ul {
	margin: 0px 4px;
}
#cart_status .cart-list ul a {
	padding-left: 0px;
	padding-right: 2px;
}
.cart-list ul li {
	padding: 5px 0px;
}
.cart-list ul li.delim {
	background-color: #ebebeb;
	background-image: none;
}
.list p.center {
	font-weight: bold;
}
#cart_status .buttons-container a, #cart_status .buttons-container a:visited, #cart_status .buttons-container a:hover, #cart_status .buttons-container a:active {
	background: url('images/icons/cart_arrow.gif') no-repeat 95% 6px;
}
/* /cart box styles */

/* common sidebox style */
.sidebox-title, .sidebox-categories-wrapper .sidebox-title {
	padding: 0;
	border-bottom: 1px solid #ebebeb;
}
.sidebox-title span, .sidebox-categories-wrapper .sidebox-title span {
	padding: 7px 0px 7px 0px;
	color: #555555;
	font: normal 22px Georgia, 'Times New Roman', Times,serif;
	letter-spacing: -0.5px;
}
.sidebox-body {
	padding: 13px 7px 10px
}
.sidebox-bottom {
	display: none;
}
/* /common sidebox style */

/***** Tables *****/
/* Common table */
.table {
	background-color: #dee1e5;
	padding: 1px 0px 1px 1px;
}
.table th {
	background-color: #e8eff8;
	border-right: 1px solid #dee1e5;
	border-bottom: 1px solid #dee1e5;
}
.table th a, .table th a:visited, .table th a:hover, .table th a:active {
	color: #2c2b2b;
	font-weight: bold;
}
.table td, .table .table td {
	border-right: 1px solid #dee1e5;
}
.table .table-footer td {
	background-color: #e8eff8;
	border-right: 1px solid #dee1e5;
}
.table-row, tr.table-row, td.table-row {
	background-color: #f1f4f6;
}
/* /Common table */
/***** /Tables *****/

/* mainbox2 */
.mainbox-title, .mainbox2-title {
	padding-bottom: 0px;
}
.mainbox-title span, .mainbox2-title span {
	font: normal 30px Georgia, 'Times New Roman', Times,serif;
	color: #555555;
}
/* /mainbox2 */

.subheader, .subheader-first-item {
	color: #2d2e2e;
	background: url('images/subheader_bg.gif') repeat-x bottom;
	padding: 13px 0px 5px 0px;
	margin-bottom: 10px;
	font: bold 14px Arial, Helvetica, sans-serif;
}
.subheader-first-item {
	padding: 0px 0px 5px 0px;
}
.subheader2 {
	font: bold 11px Georgia, arial, verdana, sans-serif;
	padding-bottom: 3px;
	margin: 10px 0 2px 0;
}

/* color mainbox */
.mainbox-cart-title {
	background: #f6f7f7 url('images/mainbox_cart_title_bg.gif') repeat-x left bottom;
	font-size: 14px;
	border: 1px solid #dddddd;
	padding: 7px 8px 6px 11px;
	color: #555555;
}
.mainbox-cart-title span.float-left, .mainbox-cart-title span.float-right {
	display: none;
}
.mainbox-cart-body, .mainbox-cart-body-flex {
	border: 1px solid #dddddd;
	border-width: 0px 1px;
}
.cart-buttons {
	background-color: #f1f1f1;
	border: 1px solid #dddddd;
}
.cart-buttons .float-left {
	padding-top: 3px;
}
/* /color mainbox */

.updates-wrapper {
	background-color: #f8fafd;
	border: 1px solid #dcf1fb;
}

/* Bottom styles */
.bottom-copyright {
	color: #313131;
	font: 11px Arial, Helvetica, sans-serif;
}
.bottom-copyright a, .bottom-copyright a:visited, .bottom-copyright a:hover, .bottom-copyright a:active {
	font-size: 11px;
}
.bottom-search span.float-left, .bottom-search span.float-right {
	display: none;
}
/* /Bottom styles */

/* recently viewed */
.recent-prod-link-bg {
	background-color: #f4f4f4;
	text-align: right;
}
.extra-link, .extra-link:visited, .extra-link:hover, .extra-link:active {
	color: #ff5400;
	text-transform: lowercase;
	font: normal 11px Georgia;
}
/* /recently viewed */

/* product LIST view styles */
.discount-label {
	background: url('images/discount_label_left.png') no-repeat left top;
	padding: 0px 0px 0px 10px;
}
.discount-label em {
	background: #37aae8 url('images/discount_label_right.png') no-repeat right top;
	padding: 4px 4px 4px 1px;
	color: #ffffff;
	font: normal bold 13px Arial, Helvetica, sans-serif;
	min-width: 28px;
	text-align: center;
	height: 16px;
}
.discount-label em strong {
	font-weight: normal;
}
.product-variant-image-selected {
	border: 2px solid #3DA5EE;
}
.product-variant-image-unselected {
	border: 2px solid #CCCCCC;
}
.product-config-header {
	font-size: 13px;
	text-align: center;
	padding-top: 20px;
	clear: both;
}
/* /product LIST view styles */

/* pagination styles */
.pagination {
	background-color: #edf8fe;
}
.pagination a, .pagination a:visited, .pagination a:hover, .pagination a:active, .pagination-selected-page {
	border: 1px solid #edf8fe;
}
.pagination a:hover, .pagination-selected-page {
	border: 1px solid #0788c3;
	background-color: #ffffff;
}
.pagination-selected-page {
	font-weight: bold;
}
/* /pagination styles */

.info-field-title {
	background-color: #edf8fe;
}

/* product details styles */
.product-details-options {
	background-color: #edf2f5;
}
/* /product details styles */

/* List with circle bullets */
.bullets-list li, .cm-tabs-content ul li {
	background: url('images/icons/bullet.gif') no-repeat 1px 7px;
	padding: 1px 0px 6px 11px;
}
.cm-tabs-content ul li {
	background-image: url('images/icons/dot_dark.gif');
}
/* /List with circle bullets */

/* List with 2 arrows as bullet */
.arrows-list li {
	background: url('images/icons/cart_arrow.gif') no-repeat 1px 8px;
	padding-left: 13px;
}

.arrows-list li.delim {
	background: url('images/sidebox_delim.gif') repeat-x center 2px;
}
/* /List with 2 arrows as bullet */

/* Tree list */
.tree-list .cm-expanded {
	background: url('images/icons/links_expanded.gif') no-repeat scroll right 5px;
}

.tree-list .cm-collapsed {
	background: url('images/icons/links_collapsed.gif') no-repeat scroll right 5px;
}
/* /Tree list */

/* Arrow list */
.arrow-list li {
	padding-left: 10px;
	background: url('images/icons/list_arrow.gif') no-repeat 1px 6px;
}
.sidebox-body .arrow-list {
	margin: 0 0 5px 0;
}
.inside-list li {
	list-style: none none;
	background-image: none;
	padding: 2px 0px 3px 0px;
	line-height: 12px;
}
/* /Arrow list*/

/* Action bullets */
.action-bullets {
	margin-bottom: 10px;
}
.action-bullets li {
	display: inline;
	background: url('images/icons/dot_dark.gif') no-repeat 2px 6px;
	padding: 0px 10px 0px 13px;
}
/* /Action bullets*/

/* No bullets */
ul.no-markers li, .cm-tabs-content ul.no-markers li {
	background-image: none;
	list-style-type: none;
	padding-left: 0px;
}
/* /No bullets */

.delim {
	background: url('images/sidebox_delim.gif') repeat-x center center;
}

/* form styles */
.cm-failed-field, .updates-wrapper .cm-failed-field, .sidebox-body .cm-failed-field {
	border: 1px dashed #cc0000;
	background-color: #ffdddd;
}
/** for checkboxes in FF **/
input[type=checkbox].cm-failed-field {
	outline: 1px dashed #cc0000;
	background-color: #ffdddd;
}
/** /for checkboxes in FF **/
.error-message .message {
	background-color: #f5f5ea;
}
.error-message .arrow {
	border: 5px solid transparent;
	border-bottom-color: #f5f5ea;
	border-top-width: 0px;
}
.form-field label {
	font: normal 12px verdana, geneva, arial, helvetica, sans-serif;
}
.form-field label.cm-required {
	background: url('images/icons/required_mark.gif') no-repeat right 6px;
}
.select-field label, .form-field .select-field label {
	font: normal 11px Georgia;
}
.search-field textarea {
	border: 1px solid #83bdcb;
}
/* /form styles */

/* One page checkout styles */
.step-container, .step-container-active {
	background-color: #f8fdff;
	border: 1px solid #dddddd;
}
.step-container-active {
	background-color: #ffffff;
	border: 1px solid #cbd3dc;
}
.checkout-steps {
	background-color: #eef2fb;
}
.step-title-active {
	background-color: #ebf1f7;
	border-bottom: 1px solid #cbd3dc;
}
.step-title span.float-left, .step-title-active span.float-left {
	color: #a2acae;
}
.step-title-active span.float-left {
	color: #ff7800;
}
.step-body .shipping-rates label {
	font: italic bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #8ca1a1;
}
.step-title a.title, .step-title a.title:hover, .step-title-active a.title, .step-title-active a.title:hover {
	font: bold 17px Georgia;
	color: #a0abab;
	background: url('images/icons/step_arrow.gif') no-repeat 3px 7px;
}
.step-title-active a.title, .step-title-active a.title:hover {
	color: #0c648d;
	background: url('images/icons/step_arrow_active.gif') no-repeat 0px 7px;
}
.step-complete-wrapper, .step-complete-wrapper strong {
	color: #a0abab;
	font: italic 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.step-complete-wrapper strong {
	font-weight: bold;
}
.step-complete-wrapper span {
	font-style: normal;
}
p.step-complete-wrapper {
	padding-top: 11px;
}
.step-complete-text {
	color: #858585;
}
.step-complete-wrapper .form-field label {
	color: #8ca1a1;
	font: bold 11px Georgia;
	padding-top: 2px;
	padding-right: 3px;
}
#list_payment_methods {
	margin-left: -8px;
}
#summary {
	padding: 10px 0 5px 0;
}
.multiple-profiles, .multiple-profiles strong {
	font-style: normal;
}
.multiple-profiles .form-field {
	margin-bottom: 13px;
	padding-bottom: 6px;
	border-bottom: 1px solid #dadada;
}
.step-body-active .select-profile label {
	display: none;
}
.step-body-active .select-profile {
	padding-left: 0px;
}
.step-complete-wrapper ul.bullets-list li {
	background-image: url('images/icons/step_bullet.gif');
}
/* /One page checkout styles */

/* Estimation form */
.estimation-popup-box, .box {
	border: 1px solid #dadada;
	background-color: #f8f8f8;
}
/* /Estimation form */

.required-question, .required {
	color: #ff0000;
}

/* Previewer styles */
#previewer_overlay {
	background-color: #000;
	-moz-opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=10)";
	opacity: 0.1;
}
#previewer_window {
	color: #000000;
}
#previewer_hide_select {
	background-color: #ffffff;
	border: none;
	-moz-opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
	opacity: 0;
}
#thumbs_frame img {
	border: 1px solid #c1d4eb;
	cursor: pointer;
}
#thumbs_frame img.cm-current-thumb {
	border: 1px solid #0551ae;
}
#preview_window {
	border: 2px solid #FF8000;
}
.drag-window {
	background-color: #ffffff;
	cursor: move;
	-moz-opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
	opacity: 0;
}
a.cm-thumbnails-mini {
	border: 1px solid #c1d4eb;
}
a.cm-cur-item {
	border: 1px solid #0551ae;
}
/* /Previewer styles */

/* Calendar box */
.calendar-but {
	cursor: pointer;
}
.calendar-box {
	border-top: 1px solid #cecece;
	border-right: 1px solid #797979;
	border-bottom: 1px solid #797979;
	border-left: 1px solid #cecece;
	-moz-user-select: none;
}
.calendar-navig a.cm-previous-month {
	background: url('images/icons/calendar_previous.gif') no-repeat 2px 4px;
	text-decoration: none;
}
.calendar-navig a.cm-next-month {
	background: url('images/icons/calendar_next.gif') no-repeat 2px 4px;
	text-decoration: none;
}
.calendar-box div.float-left {
	background-color: #f4f7f8;
}
.calendar {
	background-color: #ffffff;
}
.calendar th {
	background-color: #edeedb;
	font-weight: normal;
}
.calendar th.weekend {
	color: #f15513;
}
.search-advanced .calendar td, .calendar td {
	cursor: pointer;
	border: 1px solid #ffffff;
	color: #0033cc;
}
.calendar td a.strong {
	text-decoration: none;
}
.calendar td a.strong:hover {
	text-decoration: underline;
}
.calendar td a:hover {
	background-color: #f0f0f0;
}
.calendar td.weekend a, .calendar td.weekend a:hover {
	color: #000000;
}
.calendar td.selected a, .calendar td.selected a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #ff4317;
	font-weight: bold;
}
.calendar td.previous-month-days a, .calendar td.previous-month-days a:hover, .calendar td.next-month-days a, .calendar td.next-month-days a:hover {
	color: #bfbfbf;
	text-decoration: none;
}
/* /Calendar box */

/* block "Product filters" */
.product-filters .details {
	color: #959595;
	font-weight: normal;
}
.reset-filters, .reset-filters:visited, .reset-filters:hover, .reset-filters:active {
	color: #b20101;
	background: url('images/icons/delete_icon.gif') no-repeat 0px 3px;
	text-transform: lowercase;
}
/* /block "Product filters" */

/* captcha */.image-captcha {
	border: 2px solid #d0e25a;
	cursor: pointer;
}
.captcha-input-text {
	border: 1px solid #d2d9e1;
	font: bold 16px Georgia;
	padding: 4px 2px;
}
/* /captcha */

/* Select languages */
.select-link, .select-link:hover {
	background: url('images/icons/select_icon.gif') no-repeat 100% 2px;
	margin-right: 0px;
	margin-left: 12px;
}
.cm-select-list a.active {
	font: bold 12px Arial;
}
.select-popup {
	border: 1px solid #cecece;
}
ul.cm-select-list li a:hover, #top_quick_links .cm-select-list a:hover {
	background-color: #01b1dc;
	color: #ffffff;
}
.cm-select-list a, .cm-select-list a:visited, .cm-select-list a:hover, .cm-select-list a:active {
	color: #282828;
}
.localization {
	background: url('images/top_tools_delim.gif') no-repeat 0px 2px;
}
/* /Select languages */

/* checkout totals */
.promotion-coupon {
	background: #f2f2f2 url('images/coupon_code_bg.gif') repeat-x left top;
	border: 1px solid #dddddd;
}
.promotion-coupon .input-text {
	border: 1px solid #d0d0d0;
}
/* /checkout totals */

/* Statistic list */
ul.statistic-list {
	background-color: #f1f5ff;
}
/* /Statistic list */

/* plain/dynamic menu */
.subcategories-link, .subcategories-link:visited, .subcategories-link:hover, .subcategories-link:active {
	color: #2d2d2d;
}
.subcategories-link-active, .subcategories-link-active:visited, .subcategories-link-active:hover, .subcategories-link-active:active {
	color: #2d2d2d;
	font-weight: bold;
}
.sitemap-list {
	padding-top: 10px;
}
ul.sitemap-list li {
	padding-left: 10px;
	background: #ffffff url(images/icons/left_menu_arrow.gif) no-repeat 0px 6px;
}
/* /plain/dynamic menu */

/* File uploader */
.fileuploader {
	border: 1px solid #d9d9d9;
	background-color: #f5f5f5;
}
.attach-images-alt label {
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	color: #555555;
}
/* /File uploader */

/* Cart items */
#cart_items .sku {
	font: 10px Georgia;
	color: #858585;
}
.quantity, .quantity label, .quantity .input-text, .quantity .sub-price, .quantity .price {
	font: bold 11px Georgia;
}
.quantity label {
	color: #858585;
}
.product-description a.cm-combo-on, .product-description a.cm-combo-off {
	background: url('images/icons/prod_details_collapsed.gif') no-repeat 1px 2px;
}
.product-description a.cm-combo-off {
	background-image: url('images/icons/prod_details_expanded.gif');
}
/* /Cart items */

/* classic checkout */
/** progress bar styles **/
.pb-container em {
	background: #d1d1d1 url('images/pb_step.gif') no-repeat 0px 0px;
	color: #ffffff;
	text-decoration: none;
}
.pb-container .complete em {
	background-color: #9eca03;
	background-image: url('images/pb_step_complete.gif');
}
.pb-container .active em {
	background-color: #202020;
	background-image: url('images/pb_step_active.gif');
}
.pb-container a, .pb-container span {
	color: #a1a1a1;
}
.pb-container span.active {
	color: #222020;
}
/** /progress bar styles **/
/* /classic checkout */

/* Log in/out styles */
#sign_io {
	color: #0788c3;
}
.login-popup {
	border: 1px solid #9bd1e2;
	background-color: #eff4f7;
}
.login-popup .error-text {
	color: #fd0000;
}
.login-popup .form-field label, .login .form-field label {
	color: #757474;
}
.login-popup .form-field .input-text {
	border: 1px solid #d2d9e1;
	background: #ffffff url('images/icons/icon_username.gif') no-repeat 6px 4px;
}
.login-popup .form-field .password {
	background-image: url('images/icons/icon_password.gif');
}
/* /Log in/out styles */

/* breadcrumbs */
.breadcrumbs, .breadcrumbs a, .breadcrumbs a:visited, .breadcrumbs a:hover, .breadcrumbs a:active {
	color: #a5a5a5;
	font-size: 11px;
}
/* /breadcrumbs */

.manage-post {
	background-color: #f2fafc;
}
.posts em {
	font-size: 11px;
}

/* checkout login */
.login-table td.login {
	background: url('images/sidebox_vert_delim.gif') repeat-y right;
}
.order-status {
	background: #eff8fc url('images/icons/ajax_loader.gif') no-repeat 5px center;
	border: 1px solid #c1d1d5;
}
body.clear-body {
	background-color: #ffffff;
	background-image: none;
	padding: 13px 12px;
	min-width: 0;
}
/* /checkout login */

/* Page 404 */
.exception-body h1 {
	background-color: #dbdee2;
	color: #ffffff;
	font: bold 32px Arial, Helvetica, sans-serif;
	padding: 6px 16px 2px 16px;
	margin: 0px;
}
.exception-body h2 {
	color: #373737;
	font: bold 42px Arial, Helvetica, sans-serif;
	padding: 32px 0px 2px 0px;
	margin: 0px;
}
.exception-body h3 {
	margin: 0px 0px 28px 0px;
	font: bold 17px Arial, Helvetica, sans-serif;
	padding: 0px;
}
.exception-menu li {
	background: url('images/icons/list_arrow.gif') no-repeat 0px 5px;
	padding: 0px 0px 14px 10px;
	color: #898989;
	font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	height: 1%;
}
.exception-menu li a, .exception-menu li a:visited, .exception-menu li a:hover, .exception-menu li a:active {
	font: normal 14px Arial, Helvetica, sans-serif;
}
.exception-content p {
	font-size: 14px;
}
.exception-logo {
	margin-left: -12px;
}
/* /Page 404 */

/* Picker */
.object-container {
	background-color: #ffffff;
	border: 1px solid #ededed;
}
/* /Picker */

/* Graph bar */
.graph-border {
	border: 1px solid #ababab;
}
.graph-bg {
	background-color: #ccf2ff;
}
/* /Graph bar */

/* mandatory fields */
.mandatory-fields {
	font-size: 11px;
	text-decoration: underline;
}
/* /mandatory fields */

.border-bottom {
	border-bottom: 1px solid #d5d5d5;
}
#content_discussion p.stars {
	padding: 3px 0 15px 0;
	text-align: right;
	margin: 0px;
}
.post-author {
	text-align: right;
	padding: 3px 0 0 0;
	font-size: 11px;
}
.left-column .post-author, .right-column .post-author {
	padding: 3px 0 15px 0;
}
.post-message {
	padding: 0;
	font-style: italic;
}
.tags-group {
	font: italic normal 13px Arial, Helvetica, sans-serif;
}
.tags-list-container {
	padding: 0 0 10px 7px;
}
.search-form .input-text-large {
	width: 185px;
}
.search-form .input-text {
	width: 156px;
}
.table-filters .scroll-y {
	border: 1px solid #d0d0d0;
}
h4, h2.poll-header, input, textarea, select, .sidebox-link, .sidebox-link:visited, .sidebox-link:hover, .sidebox-link:active, .sidebox-rootcategory, .sidebox-rootcategory:visited, .sidebox-rootcategory:hover, .sidebox-rootcategory:active, .category-description, .product-title, .product-title:visited, .product-title:hover, .product-title:active, .price, .sub-price, .field-name, .search-products-text, .updates-wrapper p, .site-news li strong, .step-title span.float-left, .step-title-active span.float-left, .polls-list a, .graph-bar-1, .graph-bar-2, .graph-bar-1 em, .graph-bar-2 em, label.label-html-checkboxes, .product-filters li, ul.statistic-list li, ul.statistic-list li.subtotal span, ul.statistic-list li.subtotal strong, .posts h2, .product-configuration .object-container span.price,  {
	font-family: Georgia;
}
.cm-hint {
	color: #A5A5A5 !important;
}