/* $Id$ */

/**
 * @link		http://www.lwis.net/
 * @copyright	2006-2008 Live Web Institute. All Rights Reserved.
 */

/* Logic */
ul.dropdown, ul.dropdown li, ul.dropdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.dropdown {
	position: relative;
	z-index: 1;
}

ul.dropdown li {
	vertical-align: middle;
	zoom: 1;
}

ul.dropdown li.hover, ul.dropdown li:hover {
	position: relative;
	z-index: 3;
	cursor: default;
}

ul.dropdown ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
	width: 100%;
}

ul.dropdown ul li {
	float: none;
}

ul.dropdown ul ul {
	top: 1px;
	left: 100%;
}

ul.dropdown li:hover > ul {
	visibility: visible;
}

/* For vertical menu */
ul.dropdown-vertical {
}

ul.dropdown-vertical ul {
	top: 1px;
	left: 100%;
}

ul.dropdown-vertical li {
	float: none;
}
/* /For vertical menu */

/* For RTL orientation*/
ul.dropdown-vertical-rtl {
	float: right;
}
ul.dropdown-vertical-rtl, ul.dropdown-vertical-rtl ul.dropdown-vertical-rtl, #top_menu ul ul ul.dropdown-vertical-rtl, #top_menu ul.dropdown-vertical-rtl ul.dropdown-vertical-rtl {
	left: auto !important;
	right: 100%;
}
#top_menu ul.dropdown-vertical-rtl {
	left: auto !important;
	right: 0px;
}
/* For RTL orientation*/

/* /Logic */


/* Decoration */
ul.dropdown {
	font-weight: bold;
}
ul.dropdown li {
	background: #ffffff url(images/categories_bg.gif) repeat-x left top;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
}
ul.dropdown li:hover {
	background: #d1e0ff url(images/categories_hover.gif) repeat-x left top;
}
ul.dropdown a, ul.dropdown a:visited, ul.dropdown a:hover, ul.dropdown a:active {
	color: #333333;
	text-decoration: none;
	font: bold 11px Tahoma;
}
ul.dropdown ul a, ul.dropdown ul a:visited, ul.dropdown ul a:hover, ul.dropdown ul a:active {
	font-size: 11px;
}
ul.dropdown ul {
	width: 160px;
	padding: 1px;
	background-color: #ffffff;
	border: 1px solid #848484;
}
ul.dropdown-vertical a {
	padding: 6px 26px 7px 17px;
	display: block;
}
ul.dropdown-vertical ul li a {
	padding: 4px 26px 5px 5px;
	display: block;
}

ul.dropdown *.dir {
	background: #ffffff url(images/categories_dir_bg.png) no-repeat right top;
}
ul.dropdown *.dir:hover {
	background: #f3f5ff url(images/categories_dir_hover.png) no-repeat right top;
}
ul.dropdown li:hover {
	background-color: #ffffff;
}
ul.dropdown ul *.dir, #top_menu ul.dropdown ul *.dir {
	background: url('images/icons/category_collapsed.gif') no-repeat 140px 3px;
}
ul.dropdown ul *.dir:hover, #top_menu ul.dropdown ul *.dir:hover {
	background: #d1e0ff url('images/icons/category_expanded.gif') no-repeat 140px 3px;
}
ul.dropdown ul li {
	background: transparent none;
	border: 0px none;
}
#top_menu li.first-level *.dir, #top_menu li.first-level.cm-active *.dir {
	background: url('images/icons/category_collapsed.gif') no-repeat 140px 3px;
}
#top_menu li.first-level *.dir:hover, #top_menu li.first-level.cm-active *.dir:hover {
	background: #d1e0ff url('images/icons/category_expanded.gif') no-repeat 140px 3px;
}
/** Separator **/
ul.dropdown li.h-sep {
	display: none;
}
/** /Separator **/

.right-column ul.dropdown-vertical ul {
	top: 1px;
	left: auto;
	right: 100%;
}
/* /Decoration */